<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/css/style.css' />
</head>

<body>
  <h1>
    <%= path %>
  </h1>
  <div>
    <iframe src="/upload/preview/<%-path%>/index.<%-format=='1' ? 'html' : 'pdf' %>" frameborder="0" style="width:100%;min-height:1000px;"></iframe>
  </div>
</body>

</html>