<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/css/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <div>
    <form method="post" enctype="multipart/form-data" action="/upload">
      类型：
      <select name="type" id="">
        <option value="1">解析试题模板</option>
        <option value="2">转换Office</option>
      </select>
      <br> 转换类型：
      <select name="format" id="">
        <option value="1">html</option>
        <option value="2">pdf</option>
      </select>
      <br> 文件：
      <input type="file" name="word" accept="application/*">
      <input type="submit">
    </form>
    <a href="/upload/origin/demo.docx" download="试题模板">试题模板</a>
  </div>
</body>

</html>